<div class="container">
  <div class="card col p-3">
    <h2>Sign in to your account</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="email" required email>
      </div>
      <div class="mb-3 form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

    <span>Not a member yet? <a class="link-primary" [routerLink]="['/register']">Register here.</a></span>
  </div>

</div>

